<div class="posts-container">
  {{#each posts}}
    <div class="post-card">
      <div class="post-header">
        <h2>
          <a href="/post/{{id}}" class="post-title">{{title}}</a>
        </h2>
        <div class="post-metadata">
          <span class="posted-by">Posted by {{User.username}}</span>
          <span class="post-date">{{format_date createdAt}}</span>
        </div>
      </div>
      <div class="post-content">
        {{body}}
      </div>
    </div>
  {{/each}}
</div>
